html, body  {
    background-color:#27282c;
    height: 100%;
}

.container  {
    margin: 0 auto;
    width: 75.28vw;
}

header  {
    margin-top: 1vw;
    padding: 0.54vw;
    background-color: #909090;
    height: 7.25vw;
    border-radius: 0.5vw;
    box-shadow: 15px 15px 10px black;
}

#iconContainer  {
    float:right;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 1.5%;
}

#mainLogo   {height: 100%;}
#glassLogo  {position: absolute; height: 9vw; left: 71%;}
#restartLink{width: 100%;}
#restartLogo{width: 100%;}
#menuLink   {width: 100%; position: absolute; bottom: 0;}
#menuLogo   {width: 100%;}

main    {
    display: flex;
    margin-top: 1vw;
    height: 31vw;
}

.sidePanel  {
    height: 85%;
    width: 8.5%;
    
    background-color: #707070;
    border-radius: 0.5vw;
    box-shadow: 15px 15px 10px black;

    margin: 0 auto;
    padding: 1.5% 0.75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#mainPanel  {
    background-image:url("../img/school_front.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width:70%;
    border-radius: 0.5vw;
    box-shadow: 15px 15px 10px black;
}

.clicPanel  {
    border: solid blue 2px;
    height: 8vw;
    width: 8vw;
}

.clicPanel > a  {
    display: block;
    width: 100%;
    height: 100%;
}

.sideElement {
    flex: 1;
    border: 0.3vw solid #707070;
    border-radius: 0.3vw;
}

.sideElement > img {
    height: 100%;
    width: 80%;
}

.textPanel  {
    background-color: #bbbbbb;
    height: 10%;
    border-radius: 0.5vw 0.5vw 0 0;
    border: solid black 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px black;
    text-align: center;
}

.mainText   {
    margin-top: 1%;
    vertical-align: middle;
    font-size: 0.9vw;
}

.hidden {
    visibility: hidden;
}